        <!-- faq -->
        <div class="w-11/12  md:w-4/5  mx-auto">
            <h2 class="text-3xl lg:text-4xl font-bold my-12 text-center hidden md:block">Frequently asked questions.</h2>
            <h2 class="text-4xl font-bold my-12 text-center md:hidden block">FAQs</h2>
            <div class="space-y-4 mb-8">
                <details class="group  [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
                  >
                    <h2 class="font-medium text-sm md:text-lg">What is a Notion template?</h2>
              
                    <svg
                      class="size-4 md:size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                  </summary>
              
                  <p class="mt-4 px-4 leading-relaxed text-gray-700 text-justify text-xs md:text-base ">
                    A Notion template is any publicy shared page in Notion that can be 
                    duplicated. They allow to duplicate other workflows and systems that you want to use.
                  </p>
                </details>
              
                <details class="group [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
                  >
                    <h2 class="text-sm md:text-lg font-medium">Why pay for Notion templates?</h2>
              
                    <svg
                      class="size-4 md:size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                  </summary>
              
                  <p class="mt-4 px-4 leading-relaxed text-gray-700 text-justify text-xs md:text-base ">
                  Purchasing a Notion template can save you consideraable time and effort 
                  as it eliminates the need to build complex databases and dashboards from scratch.
                  Not only does it stramline your workflow, but it also grants access to expertly 
                  designed structures and layouts that enhance organization and productivity, freeing up your time 
                  to focus on more important tasks. 
                  </p>
                </details>
    
                <details class="group  [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
                  >
                    <h2 class="text-sm md:text-lg font-medium">Can I use Notion free account plan?</h2>
              
                    <svg
                      class="size-4 md:size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                  </summary>
              
                  <p class="mt-4 px-4 leading-relaxed text-gray-700 text-justify text-xs md:text-base ">
                    Yes, you can absolutely use our Notion templates with a free account.
                  </p>
                </details>
    
                <details class="group  [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
                  >
                    <h2 class=" text-sm md:text-lg font-medium">Can I customize the templates to fit my needs?</h2>
              
                    <svg
                      class="size-4 md:size-5 shrink-0 transition duration-300 group-open:-rotate-180"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                  </summary>
              
                  <p class="mt-4 px-4 leading-relaxed text-gray-700 text-justify text-xs md:text-base ">
                    Absolutely! All of our templates are fully customizable to match your unique preferences and lifestyle.
                    Whether you need to add new sections, adjust existing ones, or modify the template entirely, our detailed
                    videos guides will walk you through the process, ensuring you can tailor each template to meet your specific
                    needs.
                  </p>
                </details>
              </div>
           <div class="font-medium text-gray-400 mt-8 text-sm text-center">Still have questions? Send us an email <a href="mailto:rachfitmate@gmail.com" class="underline text-gray-700">rachfitmate@gmail.com</a>.</div>
         </div>