<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %>
<body class="poppins">
    <!-- navbar -->
    <%- include('../partials/nav.ejs')  %>
 <!-- card section -->
  <section class="w-11/12 mx-auto">
       <!-- Sentence -->
      <div class="container px-6 mt-24 mb-12 mx-auto text-center">
         <div class="w-11/12 md:w-5/6 mx-auto">
             <h1 class="text-2xl sm:text-3xl lg:text-5xl font-bold lg:leading-[4.5rem] text-gray-800  poppins mb-6">
            Organize and Improve your well-being, productivity and life balance.</h1>
             <p class="mt-6 text-sm lg:text-xl font-medium text-gray-500 mb-6">
                Take advantage of attractive offers by combining our essential tools and start transforming your everyday life today!</p>

         </div>
     
     </div>
      <div class="my-6 gap-y-4 md:gap-x-8 md:gap-y-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 justify-start">
       
        <div class="shadow shadow-slate-200 flex flex-col  rounded-lg py-4 px-6">
           <div class="pt-4">
            <h1 class="font-semibold text-2xl md:text-3xl mb-2 ">Starter</h1>
            <p class="text-slate-500 mb-2 font-medium text-sm md:text-lg">Perfect for starters</p>
            <p class="flex space-x-2"><span>$</span><span class="font-semibold text-5xl">0</span></p>
            <hr class="text-gray-400 my-4">
           </div>
           <div class="pt-4 h-3/5">
            <ol>
                <li class="font-medium mb-4 w-full items-center flex space-x-4">     
                    <span class=" inline me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="md:size-6 size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>                          
                    </span>
                   <span class="md:text-base text-sm">Self Care Sanctuary</span>
                </li>
                <li class="font-medium mb-4 w-full items-center flex space-x-4">     
                    <span class=" inline me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="md:size-6 size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>                          
                    </span>
                   <span class="md:text-base text-sm">Digital Detox Planner</span>
                </li>
                <li class="font-medium mb-4 w-full items-center flex space-x-4">     
                    <span class=" inline me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="md:size-6 size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>                          
                    </span>
                   <span class="md:text-base text-sm">Projects & Tasks Manager</span>
                </li>
                <li class="font-medium mb-4 w-full items-center flex space-x-4">     
                    <span class=" inline me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="md:size-6 size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>                          
                    </span>
                   <span class="md:text-base text-sm"> Habits Tracker</span>
                </li>
                <li class="font-medium mb-4 w-full items-center flex space-x-4">     
                    <span class=" inline me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="md:size-6 size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>                          
                    </span>
                   <span class="md:text-base text-sm">Goals Tracker</span>
                </li>
            </ol>
           </div>
           <div class="pt-4">
            <a href="/" class="w-full inline-block py-4 rounded-xl text-center font-medium bg-black hover:bg-[#37413A] transition-colors text-white">Purchase now</a>
           </div>
       </div>
       
       <div class="shadow shadow-slate-200 flex flex-col  rounded-lg py-4 px-6">
           <div class="pt-4">
            <h1 class="font-semibold text-2xl md:text-3xl mb-2 ">Fitness & Nutrition</h1>
            <p class="text-slate-500 mb-2 font-medium text-sm md:text-lg">Perfect for starters</p>
            <p class="flex space-x-2"><span>$</span><span class="font-semibold text-5xl">29</span></p>
            <hr class="text-gray-400 my-4">
           </div>

           <div class="pt-4 h-3/5">
            <ol>
                <li class="font-medium mb-4 w-full items-center grid grid-cols-8">     
                    <span class="inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="md:size-6 size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>                          
                    </span>
                   <span class="md:text-base text-sm inline-block col-span-6"> Fitness Tracker Ultimate</span>
                   <span class="text-white bg-black rounded-xl w-fit h-fit p-1 text-xs tracking-wider ">PRO</span>
                </li>
                <li class="font-medium mb-4 w-full items-center grid grid-cols-8">     
                    <span class="inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="md:size-6 size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>                          
                    </span>
                   <span class="md:text-base text-sm inline-block col-span-6"> Fitness Tracker Ultimate</span>
                   <span class="text-white bg-black rounded-xl w-fit h-fit p-1 text-xs tracking-wider ">PRO</span>
                </li>
                <li class="font-medium mb-4 w-full items-center grid grid-cols-8">     
                    <span class="inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="md:size-6 size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                          </svg>                          
                    </span>
                   <span class="md:text-base text-sm inline-block col-span-6"> Fitness Tracker Ultimate</span>
                   <span class="text-white bg-black rounded-xl w-fit h-fit p-1 text-xs tracking-wider ">PRO</span>
                </li>

            </ol>
           </div>
           <div class="pt-4">
            <a href="/" class="w-full inline-block py-4 rounded-xl text-center font-medium bg-black hover:bg-[#37413A] transition-colors text-white">Purchase now</a>
           </div>
       </div>


      </div>
  </section>


    <%- include('../partials/footer.ejs') %>
</body>
</html>