<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('../partials/head.ejs') %>
  <body class="poppins">
    <!-- navbar -->
    <%- include('../partials/nav.ejs') %>
    
    <div class="w-11/12 mx-auto">


    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
